* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
aside{
  float: left;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 120px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
p {
  font-family: 'Montserrat';
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.span span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  font-weight:bold;
}

.span span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(2) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(3) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(4) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(5) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(6) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(7) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(8) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(9) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(10) {
  animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(11) {
  animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(12) {
  animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(13) {
  animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(14) {
  animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(15) {
  animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.span span:nth-child(16) {
  animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  border:solid red thin;
  border-radius:30px;
  padding:9px;
}

.span span:nth-child(17) {
  animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  border:solid hotpink thin;
  border-radius:30px;
  padding:9px;
}

.span span:nth-child(16)::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-radius:30px;
  transform: translateX(100%);
  transition: all 0.3s ease-out;
  z-index: -1;
}
.span span:nth-child(16):hover{
  text-decoration:underline black;
  font-weight:bold;
}
.span span:nth-child(16):hover::before{
width: 100%;
height: 100%;
background-color: red;
transform: translateX(0);
transition: all 0.3s ease-in;
}
.span span:nth-child(17)::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-radius:30px;
  transform: translateX(100%);
  transition: all 0.3s ease-out;
  z-index: -1;
}
.span span:nth-child(17):hover{
  text-decoration:underline black;
  font-weight:bold;
}
.span span:nth-child(17):hover::before{
width: 100%;
height: 100%;
background-color:hotpink;
transform: translateX(0);
transition: all 0.3s ease-in;
}



@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/* #A7414A #282621 white smoke: #FBFFFF; chalk white: #F5F5F5; onyx: #353935;  	#E00000 , #FF0066*/
:root {
  --color-primary: #FBFFFF;
  --color-secondary: #343434;
  --color-white: #F5F5F5;
  --color-black: #EDF1FF;
  --color-grey-2: #EDF1FF;
  --color-grey-3: #FFFAF0;
  --color-grey-4:	#363945;
  --color-grey-5:	 #CD212A;
  --color-grey-6:yellow;
  --color-bg-7:#F5F5F5;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

.light-mode {
  --color-primary:#343434;
  --color-secondary:#FFFAF0;
  --color-white: #CD212A;
  --color-black: #282828;
  --color-grey-2: black;
  --color-grey-3:	#C0C0C0 ;
  --color-grey-4: #303030;
  --color-grey-5: #f8f8f8;
  --color-grey-6:#FF0066;
  --color-bg-7:#353935;
}

body {
  background-color: var(--color-primary);
  font-family:'montserrat';
  font-size: 16px;
  color: black;
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-secondary);
  overflow: hidden;
  padding: 0 !important;
}

/* section {right-he
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
} */

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.active {
  display: block;
  animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}
@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.1rem;
  color: var(--color-grey-2);
  pointer-events: none;
}
.controls .active-btn {
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white);
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.5rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

/*Header-content*/
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 70%;
  width: 68%;
  margin-left: 1rem;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  float:left;
}


.header-content .left-header .image img {
  width: 80%;
  height: 80%;
  border-radius: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(10%);
  float:left;
}
.header-content .left-header .image .aside{
  clear:left;
}
.header-content .left-header .aside .clearfix{
  /* font-style:italic; */
  color:var(--color-grey-6);
  font-family:'Parisienne';
  font-size:25px;
  
}
.header-content .left-header .image img:hover {
  filter: grayscale(0); 
}

.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  
}
.header-content .right-header .name {
  font-size: 20px;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
  text-align: right;
}
.header-content .right-header p {
  
  line-height: 2rem;
  font-family: 'montserrat';
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-grey-4);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-grey-3);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-grey-4);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}
 /* blog */

.blogs {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}
.blogs .blog-items {
  position: relative;
  border-radius: 0px;
}
.heading{
  font-size:20px;
font-weight:bold;
color:#CD212A;
border-radius:20px;
top:2rem;
padding:0.5rem;
justify-content: center;
}
.blogs .blog-items .hover-item{
  overflow-y:scroll;
  top:0;
  left:0;
  background-color:var(--color-bg-7);
  height:300px;

}

.blogs .blog-items .hover-item .icons {
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 0.5rem;
  margin-top:1rem;
  text-align:start;
  
}
.blogs .blog-items .hover-item .icons a:link, a:visited{
font-size:16px;
font-family: 'montserrat';
color: var(--color-secondary);
padding:15px;
}

.blogs .blog-items .hover-item .icons a:hover{
text-decoration: underline;
/* background-color:var(--color-grey-4); */
color:var(--color-secondary);
}

/* .blog-items:hover .hover-items {
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
} */

.contact-content-con {
  display: grid;
  padding-top: 4px;
  overflow:auto;
}
.contact-content-con .left-contact {
  flex:auto;
  margin-left:2px;
}

.contact-content-con .left-contact .contact-icon {
  display:grid;
  row-gap: 8px;
  margin-top: 1rem;
  position: fixed;
}
.contact-content-con .left-contact .contact-icon a {
  display: grid;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor:pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.2rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
/* .contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
} */
/* .contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-4);
  width: 100%;
  color: white;
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
} */

/*Independed components*/
.btn-con {
  display:block;
  align-self:center;
  
}

.main-btn {
  border-radius: 30px;
  color: var(--color-secondary) ;
  font-weight: 600;
  position: relative;
  border: medium solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-top: 2px;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-out;
  border:thin solid black;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-title {
  justify-content:center ;
  margin-top:0px;
  width: 100%;
}


@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }

  .theme-btn {
    width: 50px;
    height: 50px;
  }

  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .left-header .h-shape {
    display: none;
  }

  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.2rem !important;
    text-align: center;
    padding-top: 3rem;
  }

  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }

  

  .container {
    padding: 0rem 2.5rem !important;
  }



  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 0rem;
    margin-top: 1rem;
  }


  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 1432px) {
  .container {
    padding: 1.3rem 11rem;
  }

  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 1250px) {
  

  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-content .right-header {
    padding-right: 9rem;
  }
}
@media screen and (max-width: 660px) {
  

  .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1070px) {
  

 
}
@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }

  
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .left-header .h-shape {
    display: none;
  }
  .left-header .image {
    width: 90% !important;
    margin: 0 auto !important;
  }

  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
}
@media screen and (max-width: 700px) {
  .container {
    padding: 7rem 3rem;
  }


}

.main-title p {
  
  text-transform: uppercase;
  color: var(--color-grey-5);
  font-weight: 200px;
  color: transparent;
  display:inline;
}
.main-title p span {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 50px;
}
.main-title p span::after {
  content: "";
  display: inline;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.main-title p:nth-child(1) {
  font-weight:300px;
  animation: txt-appearance 0s 2s forwards;
  color:#28282B;
}
.main-title p:nth-child(2) {
  font-weight:bold;
  animation: txt-appearance 0s 1.25s forwards;
  color:var(--color-grey-5);
}
.main-title p:nth-child(1) span::after {
  background: salmon;
  animation: slide-in 0.75s ease-out forwards,
  slide-out 0.75s 1s ease-out forwards;
}
.main-title p:nth-child(2) span::after {
  background: royalblue;
  animation: slide-in 0.75s 0.3s ease-out forwards,
  slide-out 0.75s 1.3s ease-out forwards;
  color:#28282B;
}

@keyframes slide-in {
  100% {
      transform: translateX(0%);
  }
}
@keyframes slide-out {
  100% {
      transform: translateX(100%)
  }
}
@keyframes txt-appearance {
  100% {
     
  }
}
.bg-text{
  font-size:1.0em;
  text-align:center;
  font-weight: bold;
  transition: all 0.4s ease-out;
  color:var(--color-secondary);
}
 /* Contact Send message button */

 .btn{
  position: absolute;
  left: 50%;
  bottom:11%;
  transform: translate(-50%, -50%);
  width: 200px;
    border: 3px solid #f9c23c;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    background-color:var(--color-grey-3) ;
}

/* Style the p tag */
/* .btn p{
   text-transform: uppercase;
   text-align: center;
   color: var(--color-secondary);
   font-weight: 900;
   font-size: 16px;
   margin-left: 30px;
   transition: all 0.5s ease;
}

/* Style the first icon with class send */
/* .send{
  position: absolute;
  top:15px;
  left: 30px;
  color: #28282B;
  transition: all 0.5s ease;
} */

/* Style the second icon with class send2 */
/* .send2{
  position: absolute;
  top:80px;
  left: 30px;
  color: black;
  transition: all 0.5s ease;
}


/* Hover effects */
/* .btn:hover{
  background: #f9c23c;
  transition: all 0.5s ease;
}

.btn:hover p{
  color: black;
  transition: all 0.5s ease;
  animation: move 1s linear 1s forwards;
}

.btn:hover .send{
  top: -50px;
  transition: all 0.5s ease;
}

.btn:hover .send2{
  top: 15px;
  transition: all 0.5s ease;
  animation: sending 0.6s linear 0.6s forwards;
} */ 


/* CSS3 animation keyframes */
/* @keyframes sending{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translate(40px, -60px);
  }
}

@keyframes move{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-18px);
  }
} */

.contact-content-con .right-contact {
  margin-top:3rem;
  float:right;
}
.contact-content-con .right-contact .prof {
margin-left:auto;
 border-radius:50%;
 margin-right: auto;
 display:block;
 width:230px;
 height:230px;
}
.contact-content-con .right-contact .content{
  text-align:justify;
  padding:5rem;
  font-size:16px;
  font-weight:300;
  color: var(--color-secondary);
  line-height:2rem;
}

/* .contact-content-con .right-contact .content .contact-ico{
  display:flex;
  column-gap: 2rem;
  margin-top: 1rem;
  position: fixed;
}
.contact-content-con .right-contact .content .contact-ico a{
  
  align-items:end;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor:pointer;
  justify-content:flex-end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0.2rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .right-contact .content .contact-ico a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .right-contact .content .contact-ico a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .content .contact-ico a i {
  display: flex;
  align-items:center;
  font-size: 1.2rem;
} */





